/*Utilitis*/
/** color **/


.bg-gray{
    background-color: darkgrey;
}


/*Main*/
body{
    font-family: sans-serif;
    height: 100vh;
    background-image: linear-gradient(to bottom, #00bfa5 15%, #f0f0f0 15%, #f0f0f0 100%);
}

#app .container{
    height: 90%;
}


/** Chat section **/
.bg-chat-image{
    background-image: url(../assets/img/mine.jpg);
}


#chat header,
#chat footer,
.user-section{
    height: 70px;
}

.notifications{
    height: 80px;
    background-color: rgb(4, 174, 253);
}


