/*Utilitis*/
/** color **/


.bg-gray{
    background-color: darkgrey;
}


/*Main*/
body{
    font-family: sans-serif;
    height: 100vh;
    background-image: linear-gradient(to bottom, #00bfa5 15%, #f0f0f0 15%, #f0f0f0 100%);
}

#app .container{
    height: 90%;
}


/** Chat section **/
.bg-chat-image{
    background-image: url(../assets/img/mine.jpg);
}


#chat header,
#chat footer,
.user-section{
    height: 70px;
}

.notifications{
    height: 70px;
    background-color: rgb(55, 165, 216);
}


/*class user-name che ripeto*/
.user-name{
    height: 100%;
    display: flex;
    align-items: center;
}

.user-name figure{
    height: 70px;
    padding: 0.5rem;
    margin-bottom: 0;
}
  
.user-name img{
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
}
  
.user-name .user-name-text{
    margin-left: 0.5rem;
    margin-bottom: 0;
}

.user-name .user-name-icon{
    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
}

li.user-name:hover{
    cursor: pointer;
    background-color: #eaeaea;
}



.search{
    height: 50px;
    position: relative;
}
  
.search .fa-search{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
  
.search input{
    border: 0;
    height: 100%;
    padding-left: 50px;
}


