*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-family: sans-serif;
    height: 100vh;
    background-image: linear-gradient(to bottom, #00bfa5 15%, #f0f0f0 15%, #f0f0f0 100%);
}


img{
    width: 10%;
    border-radius: 50%;
}