<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Boolzapp - Milestone 1</title>
    <link rel="stylesheet" href="./css/style.css">
</head>


<body>
    <!--sfondo sfumato della chat-->
    <div id="app" class="d-flex align-items-center justify-content-center h-100">
        <!--creazione della chat centrata-->
        <div class="container rounded shadow bg-white">
            <!--suddivisione in due colonne-->
            <div class="row h-100">
                <!--SEZIONE CONTATTI/RUBRICA-->
                <section id="contacts" class="col-4 bg-gray h-100 p-0 d-flex flex-column">

                    <!--USER-->
                    <section class="user-section flex-shrink-0 d-flex justify-content-between">
                        <!--User name-->
                        <div class="user-name">
                            <!--immage user-->
                            <figure>
                                <img :src="`./assets/img/avatar${user.avatar}.jpg`" :alt="user.name" />
                            </figure>

                            <!--name-->
                            <div class="h6 user-name-text">{{ user.name }}</div>
                        </div>

                        <!--option user-->
                        <div class="w-25 text-muted d-flex justify-content-around align-items-center">
                            <!--option-->
                            <i class="fas fa-circle-notch clickable"></i>
                            <i class="fas fa-comment-alt clickable"></i>
                            <i class="fas fa-ellipsis-v clickable"></i>
                        </div>
                    </section>

                    <!--NOTIFICHE-->
                    <section class="notifications flex-shrink-0">
                        <div class="user-name">
                            <div class="user-name-icon flex-shrink-0">
                                <i class="fas fa-bell-slash"></i>
                            </div>

                            <div class="user-name-text">
                                <div>Ricevi notifiche di nuovi messaggi</div>
                                <div class="fs-6 clickable text-decoration-underline">
                                    <small>Attiva le notifiche desktop</small>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!--RICERCA-->
                    <section class="search p-2">
                        <i class="fas fa-search text-muted"></i>
                        <input type="text" class="w-100" placeholder="Cerca o inizia una nuova chat..." />
                    </section>

                    <!--RUBRICA CHAT-->
                    <section class="flex-grow-1 overflow-auto bg-white">
                        <ul class="m-0 p-0">
                            <li :class="['user-name', {active: index === currentContact}]"
                                v-for="(contact, index) in contacts" @click="setCurrentContact(index)">
                                <figure>
                                    <img :src="`./assets/img/avatar${contact.avatar}.jpg`" :alt="contact.name" />
                                </figure>
                                <div class="h6 user-name-text">
                                    <div>{{ contact.name }}</div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </section>

                <!--SEZIONE CHAT-->
                <section id="chat" class="col-8 rounded-end d-flex flex-column bg-chat p-0 h-100">
                    <!--Nome dell utente con il quale stima messaggiando piu le tre opzioni-->
                    <header class="bg-gray flex-shrink-0 d-flex justify-content-between">
                        <div class="user-name">
                            <figure>
                                <!--abbiamo deciso arbitrariamente di scegliere il primo contatto-->
                                <img :src="`./assets/img/avatar${contacts[currentContact].avatar}.jpg`"
                                    :alt="contacts[currentContact].name" />
                            </figure>
                            <div class="h6 user-name-text">
                                <div>{{ contacts[currentContact].name }}</div>
                                <div class="user-name-secondary-text fw-light">
                                    <small>Ultimo accesso oggi alle</small>
                                </div>
                            </div>
                        </div>
                        <div class="me-3 d-flex text-muted align-items-center justify-content-around">
                            <i class="fas fa-search ms-3 clickable"></i>
                            <i class="fas fa-paperclip ms-3 clickable"></i>
                            <i class="fas fa-ellipsis-v ms-3 clickable"></i>
                        </div>
                    </header>
                    <!--Chat completa con i messaggi scritti al suo interno-->
                    <main class="flex-grow-1 overflow-auto bg-chat-image">
                        <ul>
                            <li v-for="message in contacts[currentContact].messages" :class="message.status"
                                class="message-container p-3 sent">
                                <div class="message p-2 rounded-3">
                                    <p>{{ message.message }}</p>
                                    <time>{{ message.date }}</time>
                                </div>
                            </li>

                        </ul>
                    </main>


                    <!--Barra nella quale scriviamo il messaggio da inviare con il punsante Enter e le due opzioni vicine-->
                    <footer class="flex-shrink-0 container-fluid">
                        <div class="row h-100 align-items-center">
                            <div class="col-1">
                                <i class="far fa-smile fa-2x text-muted clickable"></i>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" placeholder="Scrivi un messaggio" />
                            </div>
                            <div class="col-1">
                                <i class="fas fa-chevron-circle-right fa-2x text-muted clickable"></i>
                            </div>
                        </div>
                    </footer>
                </section>
            </div>

        </div>
    </div>

    <script src="./js/script.js"></script>

</body>

</html>